---
interface Photo {
  file?: string;
  alt?: string;
  color?: string;
}

interface User {
  name: string;
  clases: string[];
  photo: Photo;
  title: string;
  review: string;
}

interface Props {
  user: User;
}

const { user } = Astro.props;
const { file, alt = 'photo user', color = 'zinc-300' } = user.photo;
---

<article
  class=`font-Barlow font-[500] text-${color} ${user.clases.map(clase => clase).join(' ')} p-8 rounded-lg shadow-lg`
>
  <header class="flex justify-start items-center gap-3">
    <img
      class=`border-2 rounded-full w-10 h-10 border-${color} border-opacity-20`
      src=`${file}`
      alt={alt}
    />
    <div>
      <h2>{user.name}</h2>
      <p class="text-xs opacity-70">Verified Graduate</p>
    </div>
  </header>
  <main>
    <h3 class="py-5 font-[600]">{user.title}</h3>
    <p class="text-sm opacity-70 leading-6">{user.review}</p>
  </main>
</article>
